RedirectMatch 404 /\.git
<Files "api-key.ini">
Order Allow,Deny
Deny from all
</Files>
<Files "twitter.php">
Order Allow,Deny
Deny from all
</Files>
<Files "plurk.php">
Order Allow,Deny
Deny from all
</Files>
<Files "facebook_post.php">
Order Allow,Deny
Deny from all
</Files>
